/* post navigation */
.post__navigation {
  display: flex;
  gap: 12px;
  margin: 0 auto;
  max-width: 680px;
  font-size: 16px;
  color: gray;
  cursor: pointer;
  padding: 48px 20px 0px 20px;
}

.post__navigation--active {
  color: black;
  font-weight: 600;
}

/* post list, post detail */
.post__list,
.post__detail {
  min-height: 90vh;
  padding: 20px;
  text-align: center;
  max-width: 680px;
  margin: 0 auto;
  text-align: left;
  line-height: 24px;
}

.post__box {
  padding-top: 24px;
  padding-bottom: 24px;
  border-top: 1px solid #f2f2f2;
}

.post__profile-box {
  display: flex;
  gap: 8px;
  font-size: 14px;
  align-items: center;
}

.post__profile {
  width: 36px;
  height: 36px;
  background: #f2f2f2;
  border-radius: 50%;
}

.post__date,
.post__author-name {
  color: gray;
}

.post__title {
  font-size: 20px;
  font-weight: 600;
  margin: 14px 0px;
}

.post__text {
  color: dimgray;
  font-size: 16px;
}

.post__list a {
  text-decoration: none;
  color: black;
}

.post__utils-box {
  display: flex;
  gap: 8px;
  flex-direction: row-reverse;
  font-size: 14px;
  color: gray;
}

.post__delete {
  cursor: pointer;
}

.post__delete:hover,
.post__delete:focus {
  color: black;
}

.post__edit:hover,
.post__edit:focus,
.post__edit a:hover,
.post__edit a:focus {
  color: black;
}

.post__edit a {
  text-decoration: none;
  color: gray;
}
.post__no-post {
  padding: 24px;
  text-align: center;
  color: gray;
  border: 1px solid #f2f2f2;
  border-radius: 20px;
}

/* post detail */

.post__detail .post__title {
  font-size: 36px;
  line-height: 40px;
}

.post__detail .post__utils-box {
  padding: 10px 0px;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  flex-direction: row;
}

.post__detail .post__profile-box {
  padding: 10px 0px;
}

.post__detail .post__text {
  padding: 20px 0px;
}

.post__text--pre-wrap {
  white-space: pre-wrap;
}
.post__category {
  color: gray;
  border: 1px solid lightgray;
  background-color: #f2f2f2;
  padding: 0px 4px;
  border-radius: 10px;
  font-size: 12px;
}
