/* header */
header {
  display: flex;
  justify-content: space-between;
  /* flex-direction: row-reverse; */
  border-bottom: 1px solid #f2f2f2;
  padding: 10px 40px;
  min-height: 40px;
  align-items: center;
}

header .header__logo {
  color: black;
  font-weight: 600;
  font-size: 18px;
}

header a {
  margin: 0px 10px;
  text-decoration: none;
  color: gray;
}

header a:focus,
header a:hover {
  color: black;
}
